# Please sort lines alphabetically, this will ensure we don't accidentally add duplicates.
#
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# The following owners will be the default owners for everything in the repo.
# Unless a later match takes precedence
* @bitwarden/team-auth-dev

# Multiple owners
src/KeyConnector/KeyConnector.csproj
.github/renovate.json
Directory.Build.props

## Docker files have joint ownership ##
**/Dockerfile @bitwarden/dept-bre @bitwarden/team-auth-dev
**/*.Dockerfile @bitwarden/dept-bre @bitwarden/team-auth-dev
**/.dockerignore @bitwarden/dept-bre @bitwarden/team-auth-dev
**/entrypoint.sh @bitwarden/dept-bre @bitwarden/team-auth-dev

## BRE team owns these workflows ##
.github/workflows/publish.yml @bitwarden/dept-bre

## These workflows have joint ownership ##
.github/workflows/build.yml @bitwarden/dept-bre @bitwarden/team-auth-dev
.github/workflows/release.yml @bitwarden/dept-bre @bitwarden/team-auth-dev
.github/workflows/version-bump.yml @bitwarden/dept-bre @bitwarden/team-auth-dev
