# Please sort lines alphabetically, this will ensure we don't accidentally add duplicates.
#
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# The following owners will be the default owners for everything in the repo.
# Unless a later match takes precedence
* @bitwarden/team-auth-dev

# DevOps for Actions and other workflow changes.
.github/workflows @bitwarden/dept-devops

# DevOps for Docker changes.
**/Dockerfile @bitwarden/dept-devops
**/*.Dockerfile @bitwarden/dept-devops
**/.dockerignore @bitwarden/dept-devops
**/entrypoint.sh @bitwarden/dept-devops
**/prepare-env.sh @bitwarden/dept-devops

# Multiple owners
src/KeyConnector/KeyConnector.csproj
