{
  "keyConnectorSettings": {
    "database": {
      "provider": "json",
      "jsonFilePath": "{pathToThisRepository}/dev/database.json"
    },
    "rsaKey": {
      "provider": "certificate"
    },
    "certificate": {
      "provider": "filesystem",
      "filesystemPath": "{pathToThisRepository}/dev/bwkc.pfx",
      "filesystemPassword": "{Password}"
    }
  }
}
